/*---------------------------- Styling Individual Blocks -------------------------------*/
.block-block-menu .blocktitle, .block-block-menu .bright-img, .block-block-menu .bleft-img {
  color: #ffffff;
  background-color: #cf9504;
 }  
.block-block-menu .blockcontent {
  border: 1px solid #cf9504;
}
  
#block-menu-2 .blocktitle, #block-menu-2 .bright-img, #block-menu-2 .bleft-img {
  color: #ffffff;
  background-color: #cf9504;
}  
#block-menu-2 .blockcontent {
  border: 1px solid #cf9504;
}
/*------------------User block colors---------------------------*/
#block-user-0 .blocktitle, #block-user-0 .bright-img, #block-user-0 .bleft-img {
  color: #ffffff;
  background-color: #FF33FF;
}  
#block-user-0 .blockcontent {
  border: 1px solid #FF33FF;
}

#block-user-1 .blocktitle, #block-user-1 .bright-img, #block-user-1 .bleft-img {
  color: #ffffff;
  background-color: #0D7FF2;
}  
#block-user-1 .blockcontent {
  border: 1px solid #0D7FF2;
}
  
#block-user-2 .blocktitle, #block-user-2 .bright-img, #block-user-2 .bleft-img {
  color: #ffffff;
  background-color: #7f9c3f;
}  
#block-user-2 .blockcontent {
  border: 1px solid #7f9c3f;
}
    
#block-user-3 .blocktitle, #block-user-3 .bright-img, #block-user-3 .bleft-img {
  color: #ffffff;
  background-color: #C45AEC;
}  
#block-user-3 .blockcontent {
  border: 1px solid #C45AEC;
}
/*------------------Search block colors---------------------------*/
#block-search-0 .blocktitle, #block-search-0 .bright-img, #block-search-0 .bleft-img {
  color: #ffffff;
  background-color: #ADA96E;
}  
#block-search-0 .blockcontent {
  border: 1px solid #ADA96E;
}
#block-search-0 .form-submit {
  background: #ADA96E;
}
/*------------------Profile block colors---------------------------*/
.block-block-profile .blocktitle, .block-block-profile .bright-img, .block-block-profile .bleft-img {
  color: #ffffff;
  background-color: #FF4500;
}  
.block-block-profile .blockcontent {
  border: 1px solid #FF4500;
}
/*------------------Blog block colors---------------------------*/
.block-block-blog .blocktitle, .block-block-blog .bright-img, .block-block-blog .bleft-img {
  color: #ffffff;
  background-color: #FF0000;
}  
.block-block-blog .blockcontent {
  border: 1px solid #FF0000;
}
/*------------------Forum block colors---------------------------*/
.block-block-forum .blocktitle, .block-block-forum .bright-img, .block-block-forum .bleft-img {
  color: #ffffff;
  background-color: #7E3117;
}  
.block-block-forum .blockcontent {
  border: 1px solid #7E3117;
}

#block-forum-0 .blocktitle, #block-forum-0 .bright-img, #block-forum-0 .bleft-img {
  color: #ffffff;
  background-color: #a05904;
}  
#block-forum-0 .blockcontent {
   border: 1px solid #a05904;
}
/*------------------Comment block colors---------------------------*/
.block-block-comment .blocktitle, .block-block-comment .bright-img, .block-block-comment .bleft-img {
  color: #ffffff;
  background-color: #454dbd;
}  
.block-block-comment .blockcontent {
  border: 1px solid #454dbd;
}
  
#block-comment-0 .blocktitle, #block-comment-0 .bright-img, #block-comment-0 .bleft-img {
  color: #ffffff;
  background-color: #454dbd;
}  
#block-comment-0 .blockcontent {
  border: 1px solid #454dbd;
}
  
#block-node-0 .blocktitle, #block-node-0 .bright-img, #block-node-0 .bleft-img{
  color: #ffffff;
  background-color: #b604bd;
}  
#block-node-0 .blockcontent {
  border: 1px solid #b604bd;
}
/*------------------Archive block colors---------------------------*/
.block-block-archive .blocktitle, .block-block-archive .bright-img, .block-block-archive .bleft-img {
  color: #ffffff;
  background-color: #646D7E;
}  
.block-block-archive .blockcontent {
  border: 1px solid #646D7E;
}
/*------------------Book block colors---------------------------*/
.block-block-book .blocktitle, .block-block-book .bright-img, .block-block-book .bleft-img {
  color: #ffffff;
  background-color: #00008B;
}  
.block-block-book .blockcontent {
  border: 1px solid #00008B;
}
/*------------------Poll block colors---------------------------*/
.block-block-poll .blocktitle, .block-block-poll .bright-img, .block-block-poll .bleft-img {
  color: #ffffff;
  background-color: #817679;
}  
.block-block-poll .blockcontent {
  border: 1px solid #817679;
  }
/*------------------Gallery Block colors---------------------------*/
.block-block-gallery .blocktitle, .block-block-gallery .bright-img, .block-block-gallery .bleft-img {
  color: #ffffff;
  background-color: #827839;
}  
.block-block-gallery .blockcontent {
  border: 1px solid #827839;
}
/*------------------Event Block colors---------------------------*/
.block-block-event .blocktitle, .block-block-event .bright-img, .block-block-event .bleft-img {
  color: #ffffff;
  background-color: #467ebd;
}  
.block-block-event .blockcontent {
  border: 1px solid #467ebd;
}
/*------------------Article Block colors---------------------------*/
.block-block-article .blocktitle, .block-block-article .bright-img, .block-block-article .bleft-img {
  color: #ffffff;
  background-color: #6A287E;
}  
.block-block-article .blockcontent {
  border: 1px solid #6A287E;
}
/*------------------Aggregator Block colors---------------------------*/
.block-block-aggregator .blocktitle, .block-block-aggregator .bright-img, .block-block-aggregator .bleft-img {
  color: #ffffff;
  background-color: #617C58;
}  
.block-block-aggregator .blockcontent {
  border: 1px solid #617C58;
}
/*------------------Simplenews Block colors---------------------------*/ 
.block-block-simplenews .blocktitle, .block-block-simplenews .bright-img, .block-block-simplenews .bleft-img {
  color: #ffffff;
   background-color: #DBBF47;
}  
.block-block-simplenews .blockcontent {
  border: 1px solid #DBBF47;
}
/*------------------Statistics Block colors---------------------------*/
.block-block-statistics .blocktitle, .block-block-statistics .bright-img, .block-block-statistics .bleft-img  {
  color: #ffffff;
  background-color: #B22222;
}  
.block-block-statistics .blockcontent {
  border: 1px solid #B22222;
}
/*------------------Image Block colors---------------------------*/
.block-block-image .blocktitle, .block-block-image .bright-img, .block-block-image .bleft-img  {
  color: #ffffff;
  background-color: #157DEC;
}  
.block-block-image .blockcontent {
  border: 1px solid #157DEC;
}
/*------------------Video Block colors---------------------------*/
.block-block-video .blocktitle, .block-block-video .bright-img, .block-block-video .bleft-img  {
  color: #ffffff;
  background-color: #157DEC;
}  
.block-block-video .blockcontent {
  border: 1px solid #157DEC;
}
/*------------------i18n Block colors---------------------------*/
.block-block-i18n .blocktitle, .block-block-i18n .bright-img, .block-block-i18n .bleft-img  {
  color: #ffffff;
  background-color: #C58917;
}  
.block-block-i18n .blockcontent {
  border: 1px solid #C58917;
}
/*------------------Ip Locator Block colors---------------------------*/
.block-block-ip_locator .blocktitle, .block-block-ip_locator .bright-img, .block-block-ip_locator .bleft-img  {
  color: #ffffff;
  background-color: #302226;
}  
.block-block-ip_locator .blockcontent {
  border: 1px solid #302226;
}
/*------------------Localities Block colors---------------------------*/
.block-block-localities .blocktitle, .block-block-localities .bright-img, .block-block-localities .bleft-img  {
  color: #ffffff;
  background-color: #8B31C7;
}  
.block-block-localities .blockcontent {
  border: 1px solid #8B31C7;
}
/*------------------Mail Validator Block colors---------------------------*/
.block-block-mail_validator .blocktitle, .block-block-mail_validator .bright-img, .block-block-mail_validator .bleft-img  {
  color: #ffffff;
  background-color: #8B0000;
}  
.block-block-mail_validator .blockcontent {
  border: 1px solid #8B0000;
}
/*------------------Today Block colors---------------------------*/
.block-block-today .blocktitle, .block-block-today .bright-img, .block-block-today .bleft-img  {
  color: #ffffff;
  background-color: #9947EB;
}  
.block-block-today .blockcontent {
  border: 1px solid #9947EB;
}

#block-today-1 .blocktitle, #block-today-1 .bright-img, #block-today-1 .bleft-img  {
  color: #ffffff;
  background-color: #E87DB3;
}  
#block-today-1 .blockcontent {
  border: 1px solid #E87DB3;
}
/*------------------Custom block colors---------------------------*/
.block-block-block .blocktitle, .block-block-block .bright-img, .block-block-block .bleft-img  {
  color: #ffffff;
  background-color: #0AC20A;
}  
.block-block-block .blockcontent {
  border: 1px solid #0AC20A;
}
