@import "drupal_rtl.css";
@import "modules_rtl.css";

@import url("blocks.css");
/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  direction: rtl;
  font: 75% Verdana, Arial, Helvetica, sans-serif;
}
tr, td, th {
border:none;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #996600;
}
a:visited {
  color: #663300;
}
a:hover {
  color: #000066;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eeeeee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background: url('images/bg.gif') repeat-x;
  margin:0 0 0em 0;
}
#logo {
  vertical-align: bottom;
  border: 0;
  padding:0px;
  }
#logo img {
  float: right;
  padding: 0em 2px 0em 2px;
  border: 0;
  
 }
#menu {
  margin:0 0 0 0 ;
  padding: 5px 0.5em 0em 0.5em;
  text-align: left;
  vertical-align: top;
}
ul.menu {
padding-right: 10px;
padding-left: 0;
margin-right: 0px;
}
#primary {
  margin:0;
  padding: 0.5em 0 0em 1em;
  font-size: 0.9em;
  color: #333333;
}
#primary a {
  font-weight: bold;
  color: #333333;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 ;
  margin: 0;
}
#search .form-submit {
  height: 1.5em;
  padding:0;
  margin:0 0.2em 0;
}
#mission {
  background-color: #E5D4F7;
  padding: 1.5em 2em;
  color: #7E3517;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
#fname{
  text-align:right;
}
.site-name {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
.site-name a:link, .site-name a:visited {
  color: #000000;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #372612;
  display: block;
  padding:0;
  margin: 0em 0em 1.3em 0em;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
  padding-right:3px;
  padding-left: 0;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-right, #sidebar-left {
  background-color: #fff;
  width: 21%;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
  width:100%;
  }
#copyleft{
  text-align:center;
  font-weight: normal;
}
#footer-msg{
  text-align:center;
  font-weight: normal;
  padding-bottom:5px;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.4em;
  color: #777;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}
.node-title, .node-title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #FF4500;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
  text-decoration: none;
}
.node-title a:hover {
  color: #F88017;
}
.node-title a:visited {
  color: #F88017;
}
.submitted {
  color: #999;
  font-size: 0.8em;
  padding:0 0 0 2px;
  margin:0;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.box {
  padding: 0 0 1.5em 0;
}
.block {
  padding: 0;
}
.block {
  border-bottom:0px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 0.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: left;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: left;
  font-weight: bold;
  font-size: 0.8em;
  float: left;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: left;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #AD661F;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.event-calendar a {
  text-decoration: none;
}
.event-calendar td, .event-calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.event-calendar .today {
  background-color: #69c;
}
.event-calendar .today a {
  color: #fff;
}
.event-calendar .selected {
  background-color: #369;
  color: #fff;
}
.event-calendar .day {
  background-color: #ccc;
}
.event-calendar .td.day td a:hover {
  background-color: #fff; color: #000;
}

/*---------------------------- Block Styles -------------------------------*/
.bright {
  background: #fff;
  width: 5px;
  font-size: 0.75em;
  font-weight: bold;
}
.bleft {
  background: #fff;
  width: 10px;
  text-align: left;
  font-size: 0.75em;
  font-weight: bold;
}
.blocktitle {
  color: #ffffff;
  background: #ce5003;
  font-size: 1em;
  font-weight: bold;
  padding:2px;
}
.blockcontent {
  background: #ffffff;
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid #ce5003;
  font-size: 1em;
}
.bright-img {
  background: #ce5003 url(images/cl.png) no-repeat top right;
  width: 7px;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.bleft-img {
  background: #ce5003 url(images/cr.png) no-repeat top left;
  width: 7px;
  text-align: left;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


/* ---------------------------------------------------------------------------------------- */
/* Extra */
br.clear { clear: both; }

/* Comments and Overrides */
.node-title, .node-title a {
  margin: 0.4em auto;  /* otherwise cursor wont show it as a link but from particular angles */
}

/* Event */
.event-calendar td.sat,
.event-calendar td.sun {
		background-color: #fff;
}
.event-calendar td.fri { background-color: #ada96e; ;}
.event-calendar th {
		background-color: #b22222;
		color: #fff;
}
.event-calendar th a { color: #fff; }
.event-calendar th a:hover { 
		color: #fff; 
		text-decoration: underline; 
}
.event-calendar td.selected { background-color: #0d7ff2;  }
.event-calendar td.today { background-color: #c45aec; }
.event-calendar td.days {
		color: #fff;
		border-width: 0 1px 1px 0;
		background-color: #454dbd;
}
